/* ********************* Reset CSS ***************************** */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ********************* Global ******************************** */
:root {
    --green: #4D96A9;
    --purple: #855FB1;
    --black: #28283D;
    --grey: #87879D;
    --blue: #8FE3F9;
    --softpurple: #D9B8FF;
    --white: #FAFAFA;
    font-family: "Red Hat Display";
    font-weight: 900;
}


main {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;

}

header,
main,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ********************** Style Header****************************** */
.header__logo {
    margin-top: 2.8rem;
}

.header__img {
    max-width: 110%;
    content: url(./starter-code/assets/tablet/image-hero.png);


    margin-top: 3.37rem;
}

.header__title {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-top: 3rem;

}

.header__p {
    margin: 1.5rem;
    margin-bottom: 0;
}

.header__title,
.header__p,
.main__p,
.main__title2,
.footer__p,
.footer__title2 {
    text-align: center;
}

.header__p,
.main__p,
.footer__p {
    font-weight: 500;
    color: var(--grey);

}

.header__p,
.main__p,
.footer__p,
.header__btn--download,
.header__btn--what,
.footer__btn--download,
.main__title3 {
    line-height: 1.62rem;
}

.header__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header__btn--download,
.header__btn--what,
.footer__btn--download {
    color: var(--white);
    font-weight: 900;
    font-size: 1rem;
    border: none;
    border-radius: 29px;
}

.header__btn--download,
.footer__btn--download {
    padding: 1rem 2.5rem;
    margin-top: 2rem;
}

.header__btn--download {

    background-color: var(--green);
}

.header__btn--download:hover {
    background-color: #71C0D4;
}

.header__btn--download span {
    color: var(--blue);
}

.header__btn--what {
    padding: 1rem 1.8rem;
    background-color: var(--purple);
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.header__btn--what:hover {
    background-color: #B18BDD;

}

.footer__btn--download:hover {
    background-color: #B18BDD;
}

/* **************** Style main ******************** */
.main__photo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
    grid-gap: 25px;
    margin-top: 4rem;

}

.main__photo img {
    width: 100%;
    border-radius: 10px;
}

.main__title2,
.footer__title2 {
    font-size: 2rem;
    line-height: 2.25rem;


}

.main__title2 {
    margin-top: 1.5rem;
}

.main__title3 {
    font-size: 0.88rem;
    letter-spacing: .25rem;
    color: var(--green);
    text-transform: uppercase;
    margin-top: 4rem;
}

.main__p {
    margin-top: 2rem;
}

.main__trait1,
.main__trait2 {
    border-right: 1px solid var(--grey);
    opacity: .25;
    height: 84px;
}

.main__number1,
.main__number2 {
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 50% 50%;
    padding: 1.18rem;
    color: var(--grey);
    background-color: white;
}

.main__trait2,
.main__number2 {
    position: relative;
    top: 8.5vh;
    Z-index: 1;

}

/* **************** Style footer ******************* */
footer {

    margin-top: 4rem;
    background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)), url(./starter-code/assets/mobile/image-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__p,
.footer__title2 {
    color: var(--white);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.footer__title2 {
    margin-top: 92px;
}

.footer__p {
    margin-top: 1.5rem;
}

.footer__btn--download {

    background-color: var(--purple);
    margin-bottom: 4.5rem;
}

.footer__btn--download span {
    color: var(--softpurple);
}

@media only screen and (min-width:580px) {


    main {
        width: 90%;
    }

    .main__photo {
        grid-template-columns: repeat(4, 1fr);
    }

    .header__btn {
        flex-direction: row;
    }

    .header__btn--download {
        margin-right: 1rem;
    }

    .header__btn--download,
    .header__btn--what {
        margin-bottom: 5rem;
        margin-top: 2rem;
    }

}

@media only screen and (min-width:1330px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "logo logo logo"
            "imgleft title imgright";
        justify-items: center;
        column-gap: 88px;
    }

    .header__logo {
        grid-area: logo;
        margin-bottom: 3.8rem;

    }

    .header__img {
        content: none;
    }

    .header__imgheroleft {
        grid-area: imgleft;
        content: url(./starter-code/assets/desktop/image-hero-left.png)
    }

    .header__imgheroright {
        grid-area: imgright;
        content: url(./starter-code/assets/desktop/image-hero-right.png);

    }

    .header__content {
        grid-area: title;
        align-self: self-end;
    }

    .header__title {
        margin-top: 0;

    }

    .header__btn--download,
    .header__btn--what {
        margin-bottom: 0;
    }

    footer {
        height: 300px;
        justify-content: center;


    }

    .footer__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding: 0 10rem;




    }

    .footer__title2,
    .footer__p {
        text-align: start;

    }

    .footer__title2 {
        margin: 0 5.75rem 0 0;

    }

    .footer__p {
        margin: 0 5.75rem 0 0;
    }

    .footer__btn--download {
        margin: 0;


    }

}