/* ********************* Reset CSS ***************************** */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ********************* Global ******************************** */
:root {
    --green: #4D96A9;
    --purple: #855FB1;
    --black: #28283D;
    --grey: #87879D;
    --blue: #8FE3F9;
    --softpurple: #D9B8FF;
    --white: #FAFAFA;
    font-family: "Red Hat Display";
    font-size: 16px;
    font-weight: 900;
}


main {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;

}

header,
main,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ********************** Style Header****************************** */
svg {
    margin-top: 46px;
}

.img-header {
    max-width: 100%;
    content: url(/starter-code/assets/tablet/image-hero.png);
    margin-top: 54px;
}

h1 {
    font-size: 2.5em;
    line-height: 44px;
    margin-top: 48px;

}

.header-p {
    margin-top: 24px;
}

h1,
.header-p,
p,
h2 {
    text-align: center;
}

.header-p,
p {
    font-weight: 500;
    line-height: 26px;
    color: var(--grey);

}


.download,
.what,
.download-footer {
    color: var(--white);
    font-weight: 900;
    line-height: 26px;
    font-size: 16px;
    border: none;
    border-radius: 29px;
}

.download,
.download-footer {
    padding: 16px 40px;
    margin-top: 32px;
}

.download {

    background-color: var(--green);

}

.download span {
    color: var(--blue);
}

.what {
    padding: 16px 29px;
    background-color: var(--purple);
    margin-top: 16px;
}

/* **************** Style main ******************** */
.main-photo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
    grid-gap: 25px;
    margin-top: 64px;

}

.main-photo img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 2em;
    line-height: 36px;
    margin-top: 92px;


}

h3 {
    font-size: 0.88em;
    line-height: 26px;
    letter-spacing: 4px;
    color: var(--green);
    text-transform: uppercase;
    margin-top: 64px;
}

main>p {
    margin-top: 32px;
}

.trait {
    border-right: 1px solid var(--grey);
    opacity: .25;
    height: 84px;
    margin-top: 64px;
}

.logo {
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 50% 50%;
    padding: 19px;
    color: var(--grey);
    background-color: white;
}


/* **************** Style footer ******************* */
footer {

    margin-top: 64px;
}

.footer-bg {
    /* display: flex; */
    /* flex-direction: column; */
    background-image: url(/starter-code/assets/mobile/image-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    /* opacity: .3; */
    /* z-index: 1; */
    /* max-width:100% */
}
.overlay{
    display:flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: 100%; */
    background-color:var(--green);
opacity: 0.8;
}

.footer-bg>p,
.footer-bg>h2 {
    color: var(--white);
}

.footer-bg>p {
    margin-top: 24px;
}

.download-footer {
    background-color: var(--purple);
    margin-bottom: 72px;
}

.download-footer span {
    color: var(--softpurple);
}

footer>.trait,
footer>.logo {
    position: relative;
    top: 3vh;
    Z-index:1;

}